<div class="tracking-bg">
  <div class="container tracking-container">
    <p class="subtitle">Dados em tempo real</p>

    <mat-divider></mat-divider>

    <!-- NOVO LAYOUT: 2x2 CARDS GRANDES -->
    <section class="section">
      <div class="section-header">
        <h3>📈 Caminhada</h3>
        <h3 class="perfil-info">
          Perfil: <strong>{{ metaSelecao }}</strong>
        </h3>
      </div>
      <div class="goal">
        🎯 Meta: <strong>{{ metaValor }} {{ metaModoExibido }}</strong>
      </div>
      <div class="grid-cards-2x2">
        <mat-card class="card-highlight">
          <mat-card-header>
            <mat-icon color="primary" fontSet="material-symbols-outlined"
              >schedule</mat-icon
            >
            <mat-card-title>Tempo</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>{{ tempoDecorrido }}</h2>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-highlight">
          <mat-card-header>
            <mat-icon color="primary">show_chart</mat-icon>
            <mat-card-title>Progresso</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>{{ progresso }}%</h2>
            <mat-progress-bar
              mode="determinate"
              [value]="progresso"
              color="primary"
            ></mat-progress-bar>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-highlight">
          <mat-card-header>
            <mat-icon color="primary" fontSet="material-symbols-outlined"
              >footprints</mat-icon
            >
            <mat-card-title>Passos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2 *ngIf="passos > 0; else aguardandoPassos">{{ passos }}</h2>
            <ng-template #aguardandoPassos>
              <h3>Aguardando...</h3>
            </ng-template>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-highlight">
          <mat-card-header>
            <mat-icon color="primary">speed</mat-icon>
            <mat-card-title>Velocidade média</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2 *ngIf="passos > 0; else aguardandoPassos">
              {{ velocidade.toFixed(2) }} km/h
            </h2>
            <ng-template #aguardandoPassos>
              <h3>Aguardando...</h3>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </section>

    <!-- BOTOES DE AÇÃO -->
    <div class="actions" style="justify-content: flex-end">
      <button
        mat-raised-button
        color="warn"
        class="btn-stop"
        aria-label="Finalizar treino"
        (click)="finalizarTreino()"
      >
        Finalizar Treino
      </button>
    </div>
  </div>
</div>
